/* Global Css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.attribution { 
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  /* Primary Colors */
  --Dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  /* Neutral Colors */
  --dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  /* Typography */
  --font-size:14px;
  --font-one:'Montserrat', sans-serif;
  --font-two:'Fraunces', serif;
}


.product {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--cream);
  font-family: var(--font-one);
}

.product .box {
  width: 610px;
  display: flex;
  border-radius: 10px;
  background-color: var(--White);
}

@media (max-width: 676px ) {
.product .box {
    width: 400px;
    flex-direction: column;
  }
}
.product .box .image {
  width: 50%;
  height: 460px;
  background-image: url(image-product-desktop.jpg);
  background-size:cover ;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media (max-width: 676px ) {
.product .box .image {
    width: 100%;
    height: 295px;
    background-image: url(image-product-mobile.jpg);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
}

.product .box .content{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}
@media (max-width: 676px ) {
.product .box .content {
    width: 88%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex-wrap: wrap;
  }
.product .box .content span {
    padding-bottom: 20px;
 } 
.product .box .content p.desc-product {
  padding: 11px 0 27px;
 }
.price {
  padding-bottom: 19px;
}
}

.product .box .content span{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.product .box .content h2{
  font-size: 33px;
  font-family: 'Fraunces';
}
.product .box .content p.desc-product{
  line-height: 1.4;
  font-size: 14px;
  color: var(--dark-grayish-blue);
}
.product .box .content .price h3:first-child {
  display: inline-block;
  font-size: 30px;
  font-family: var(--font-two);
  color: var(--Dark-cyan);
}
.product .box .content .price .b-discount {
  font-size: 14px;
  display: inline-block;
  transform: translateY(-5px);
  padding-left: 20px;
  color: var(--dark-grayish-blue);
}

.btn-cart {
  background-color: var(--Dark-cyan);
  text-align: center;
  display: flex;
  padding: 21px;
  border-radius: 10px;
  color: var(--White);
  align-content: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.btn-cart img {
  width: 20px;
  height: 20px;
}
.btn-cart h3 {
  font-size: 17px;
  margin-left: 10px;
}
.btn-cart:hover{
  transition: 0.3s;
  background-color: hsl(158, 36%, 15%);
}

